.linha {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}
h1 {
    text-align: center;
}
.App {
    margin: auto;
    max-width: 900px;
}
footer, footer a, footer p {
    margin-top: 40px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    text-align: center;
}